/*===================================
  GENERAL
===================================*/

body { 
    font-family: 'Oswald', sans-serif; /* Police et style d'écriture */
    background-color: rgb(213, 220, 226); /* Couleur de fond de la page */
}

a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: black; /* Couleur des liens */
}

@media (max-width:480px) {

    a {
        text-decoration: none;
        color:black
    }

    .InformationsGrid .Information {
        text-decoration: none;
        color:black;
    }

    .Services .TitresServices {
        text-decoration: none;
        color:white;
    }

}

/*===================================
  HEADER
===================================*/

header { 
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Oswald', sans-serif;
    background-color: #141455;
    border: white 2px solid;
    border-radius: 10px;
    height: fit-content;
}

@media (max-width:480px) {
    header {
        width: 100%;
        max-width: 480px;
    }
}

header > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    header > div:first-child {
        padding: 8px 10px;
    }
}

@media (max-width: 480px) {
    header > div:first-child {
        padding: 5px;
    }
}

/*===================================
  LOGO CAF
===================================*/

.Accueil1 {
    padding: 10px 0 10px 10px; 
    height: 60px;
    width: 60px;
}
@media (max-width:768px) {
    .Accueil1 {
        height: 50px;
        width: 50px;
        padding: 10px 5px;
    }
}

@media (max-width:480px) {
    .Accueil1 {
        height: 35px;
        width: 35px;
        padding: 5px;
    }
}

/*===================================
  CAF.FR
===================================*/

.Accueil2 { 
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 32px;
    margin-left: 0; /* Collé au logo */
    padding-left: 8px; /* Juste un petit espace */
}
@media (max-width:768px) {
    .Accueil2 {
        font-size: 28px;
    }
}

@media (max-width:480px) {
    .Accueil2 {
        font-size: 24px;
    }
}

/*===================================
  BOUTON MALVOYANT
===================================*/

.BoutonMalvoyant { 
    background-color: #141455;
    border: none;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
}

.BoutonMalvoyant:hover {
    border: 2px solid white;
}

@media (max-width:768px) {
    .BoutonMalvoyant {
        padding: 6px;
    }
}

@media (max-width:480px) {
    .BoutonMalvoyant {
        padding: 5px;
    }
}

/*===================================
  IMAGE MALVOYANT
===================================*/

.ImgMalvoyant {
    height: 40px;
    width: 40px;
}

@media (max-width:768px) {
    .ImgMalvoyant {
        height: 35px;
        width: 35px;
    }
}

@media (max-width:480px) {
    .ImgMalvoyant {
        height: 30px;
        width: 30px;
    }
}

/*===================================
  BOUTON CONNEXION
===================================*/

.BoutonConnexion { 
    background-color: #141455;
    border: none;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
}

.BoutonConnexion:hover {
    border:2px solid white; 
}

@media (max-width:768px) {
    .BoutonConnexion {
        padding: 6px;
    }
}

@media (max-width:480px) {
    .BoutonConnexion {
        padding: 5px;
    }
}

.ImgConnexion {
    height: 40px;
    width: 40px;
}

@media (max-width:768px) {
    .ImgConnexion {
        height: 35px;
        width: 35px;
    }
}

@media (max-width:480px) {
    .ImgConnexion {
        height: 30px;
        width: 30px;
    }
}

/*===================================
  BOUTON RECHERCHE
===================================*/

.BoutonRecherche { 
    background-color: #141455;
    border: none;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
}

.BoutonRecherche:hover {
    border:2px solid white;
}

@media (max-width:768px) {
    .BoutonRecherche {
        padding: 6px;
    }
}

@media (max-width:480px) {
    .BoutonRecherche {
        padding: 5px;
    }
}

/*===================================
  IMAGE RECHERCHE
===================================*/

.ImgRecherche {
    height: 40px;
    width: 40px;
}

@media (max-width:768px) {
    .ImgRecherche {
        height: 35px;
        width: 35px;
    }
}

@media (max-width:480px) {
    .ImgRecherche {
        height: 30px;
        width: 30px;
    }
}

/*===================================
  POP UP CONNEXION
===================================*/

    /*===================================
    POP UP CONNEXION
    ===================================*/

.PopUpConnexion {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #141455;
    overflow-y: auto; /* Permet le scroll sur tout l'écran */
}

@media (max-width:769px){
 .PopUpConnection {
        top: 0;
    }
}
@media (max-width:480px) {
    .PopUpConnexion {
        background:scroll ;
        top: -35;
        width: 330px;
        margin: 10px;
        justify-content: center;
    }
}

    /*===================================
    CONTENU POP UP
    ===================================*/

.ContenuPopUpConnexion {
    background-color:#e3e3f1;
    margin: 1% auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Permet le scroll sur tout l'écran */
    
}

@media (max-width:480px) {
    .ContenuPopUpConnexion {
        background-color:#e3e3f1;
        margin: 10% auto;
        padding: 20px;
        border: 2px solid black;
        border-radius: 10px;
        width: 95%;
        max-width: 330px;
        position: relative;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }
}

    /*===================================
    TITRE POP UP
    ===================================*/

.TitrePopUpConnexion {
    background-color: #141455;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
}

@media (max-width:480px) {
    .TitrePopUpConnexion {
        margin: 30px 5px 5px 5px;
        padding: 15px;
        font-size: 22px;
    }
}

    /*===================================
    ICONE FERMER POP UP
    ===================================*/

.FermerConnexion {
    position: absolute;
    right: 25px;
    top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

@media (max-width:480px) {
    .FermerConnexion {
        position: absolute;
        right: 20px;
        top: 5px;
    }
}

.FermerConnexion:hover {
    color:#000;
}

    /*===================================================
    POP UP TITRE CONNEXION ALLOCATAIRE + IDENTIFIANTS CAF
    ====================================================*/

.FormulaireTitre2Connexion {
    color: #141455;
}
    /*===================================
    POP UP MOT CHAMPS REQUIS
    ===================================*/

.FormulaireAttentionConnexion {
    color: red;
    text-align: center;
}

    /*===================================
    POP UP FORMULAIRE CONNEXION
    ===================================*/

.FormulaireConnexion label {
    font-family: "Oswald";
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #141455;
    text-align: center;
}

.FormulaireConnexion input {
    height: 30px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid #141455;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    display: block;
    margin: auto;
}

.BoutonSCConnexion {
    margin-top: 25px;
    display: flex;
    margin: auto;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #e3e3f1;
    background-color: #141455;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Transition douce */
}

.BoutonSCConnexion:hover {
    background-color: #e3e3f1;
    border: 2px solid #141455;
    color: #141455;
    cursor: pointer;
}

    /*===================================
    POP UP CONNEXION BOUTON FRANCE CONNECT
    ===================================*/

.BoutonFCConnexion {
    display: flex;
    margin: auto;
    border:none;
    background-color: #e3e3f1;
    transition: background-color 0.3s ease; /* Transition douce */
}

.BoutonFCConnexion:hover {
    border: 2px solid #141455;
    border-radius: 10px;
    cursor: pointer;
}

/*===================================
  BODY - DESCRIPTION
===================================*/

.BodyViePersonnelle {
    padding: 5px 15px 5px 15px; /* Espace autour de la div */
    background-color: lightpink; /* Couleur de fond de la div */
    margin: 30px 180px 0 180px; /* Marge autour de la div */
    max-width: calc(100% - 40px); /* S'adapte à la largeur de l'écran */
    border: none; /* Pas de bordure */
    box-shadow: 10px 10px 20px grey; /* Ombre portée de la div */
    border-radius: 15px; /* Bords arrondis */
    box-sizing: border-box; /* Inclut padding et border dans la width */
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

.InfosViePersonnelle {
    margin: 30px 180px 0 180px; /* Marge autour de la div */ /* Marge autour de la div */
    max-width: calc(100% - 40px); /* S'adapte à la largeur de l'écran */
    padding: 10px 20px 10px 20px; /* Espace interne */
    border: none; /* Pas de bordure */
    background-color: lightpink; /* Couleur de fond */
    box-shadow: 10px 10px 20px grey; /* Ombre portée */
    border-radius: 15px; /* Bords arrondis */
    box-sizing: border-box; /* Inclut padding et border dans la width */
}

.LigneInfosViePerso {
    display:flex;
    flex-direction: row;
}

.divGauche, .divDroite {
    width: 50%;
    background-color:#e3e3f1;
    border: 3px solid #141455;
    padding: 15px;
    margin: 10px;
}

.divFinale {
    width: 100%;
    background-color:#e3e3f1;
    border: 3px solid #141455;
    padding: 15px;
    margin: 10px;
}

.TitreInfo {
    background-color: #141455;
    color: white;
    padding: 10px;
    text-align: center;
}

.TexteInfo {
    padding: 10px;
    font-size: 18px;;
}

.AccesInfo {
    border: 2px solid #141455;
    background-color: #141455;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease; /* Transition douce */
    width: fit-content;
}

.AccesInfo:hover {
    background-color: #e3e3f1;
    color: #141455;
    border: 2px solid #141455;
    cursor: pointer;
}

/*===================================
  MAGASINE
===================================*/

.divMagasine {
    margin: 15px; /* Marge autour de la div */
    max-width: calc(100% - 40px); /* S'adapte à la largeur de l'écran */
    padding: 15px; /* Espace interne */
    border: none; /* Pas de bordure */
    background-color: #e3e3f1; /* Couleur de fond */
    box-shadow: 10px 10px 20px grey; /* Ombre portée */
    border-radius: 15px; /* Bords arrondis */
}

@media (max-width: 480px) {
    .divMagasine {
        margin: 15px 10px 0 5px; /* Marges réduites pour mobiles */
        padding: 8px 5px; /* Padding réduit */
        width: 350px;
        max-width: 400px;
    }
}

.divLigneMagasine {
    display: flex;
}

.divMagasine h1 {
    margin-top: 0;
    text-align: center;
}

@media (max-width:480px) {
    .divMagasine h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        padding: 15px;
        width:90%;
    }
}

.divG, .divM, .divD {
    width: 33%;
    background-color:#e3e3f1;
    border: 3px solid #141455;
    padding: 15px;
    margin: 10px;
}

.ImageMagasine {
    margin: 0 auto; /* Centre l'image */
    display: block; /* Affichage en bloc */
    max-width: 100%; /* L'image ne dépasse pas son conteneur */
    height: auto; /* Garde les proportions */
}

.LogoArticle {
    display: flex;
    align-items: center;
    width: 150px;
    max-width: 100%;
    height: 40px;
    gap: 10px;
    padding: 10px;
    margin: 10 auto; /* Centre horizontalement */
}

/* Responsive : Ajustement sur petits écrans */
@media (max-width: 480px) {
    .LogoArticle {
        width: 120px; /* Largeur réduite pour mobiles */
        height: 40px; /* Hauteur réduite */
    }
}

/* Responsive : Réduction de la taille de l'image sur mobile */
@media (max-width: 480px) {
    .ImageLogoArticle {
        width: 30px; /* Largeur réduite pour mobiles */
        height: 30px; /* Hauteur réduite */
    }
}

.TitreArticle {
    background-color: #141455; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px; /* Espace interne */
    width:90%;
    text-align: center;
    margin: 0 auto;
}

/* Responsive : Réduction du padding sur petits écrans */
@media (max-width: 480px) {
    .TitreArticle {
        padding: 8px; /* Padding réduit pour mobiles */
        width:95%;
    }
}

.DecouvrirMag {
    font-family: "Oswald", sans-serif; /* Police */
    font-weight: 500; /* Poids de la police */
    font-size: 20px; /* Taille de la police */
    padding: 15px; /* Espace interne */
    border: none; /* Pas de bordure */
    background-color: #141455; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border-radius: 15px; /* Bords arrondis */
    display: block; /* Affichage en bloc */
    margin: 15px auto 0; /* Centre le bouton avec marge en haut */
    width: 250px; /* Largeur maximale */
    cursor: pointer; /* Change le curseur au survol */
    box-sizing: border-box; /* Inclut padding et border dans la width */
    transition: background-color 0.3s ease; /* Transition douce */
}

@media (max-width: 480px) {
    .DecouvrirMag {
        font-size: 18px; /* Taille réduite pour mobiles */
        padding: 10px; /* Padding réduit */
        max-width: 100%; /* Prend toute la largeur disponible */
        margin: 15px auto;
    }
}

.DecouvrirMag:hover {
    background-color: #e3e3f1; /* Couleur de fond au survol */
    color: #141455; /* Couleur du texte au survol */
    border: 2px solid #141455;
}

/*===================================
  FOOTER
===================================*/

    /*===================================
    DIV FOOTER
    ===================================*/

.divFooter {
    background-color: #141455;
    color: white;
    padding: 5px 15px 15px 15px;
    margin: 20px;
    justify-content: space-around;
    display: flex;
}

@media (max-width:768px) {
    .divFooter {
        display: inline-block;
        margin: 10px;
    }
}

@media (max-width:480px) {
    .divFooter {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
}

    /*===================================
    CONTACT - RESEAUX SOCIAUX
    ===================================*/

.ReseauxSociaux {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px;
}

.Facebook {
    background-color: white;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: background-color 0.3s ease; /* Transition douce */
}

.Facebook:hover {
    border: 3px solid black;
    background-color: #b9b9dd;
}

.X {
    background-color: white;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Transition douce */
}

.X:hover {
    border: 3px solid black;
    background-color: #b9b9dd;
}

.NousContacter {
    background-color: white;
    color: black;
    border: none;
    padding: 20px 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    transition: background-color 0.3s ease; /* Transition douce */
    margin-left: 5px;
}

.NousContacter:hover {
    border: 3px solid black;
    background-color: #b9b9dd;
    color: #141455;
}

    /*===================================
    INFORMATIONS GENERALES
    ===================================*/

.BoutonAccessibilite, 
.BoutonMentionsLegales, 
.BoutonDonneesPerso, 
.BoutonSecurite, 
.BoutonCSIRT, 
.BoutonFAQ {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    border: none;
    background-color: #141455;
    color: white;
}

.BoutonAccessibilite:hover, 
.BoutonMentionsLegales:hover, 
.BoutonDonneesPerso:hover, 
.BoutonSecurite:hover, 
.BoutonCSIRT:hover, 
.BoutonFAQ:hover {
    border: 2px solid white;
    padding:5px;
    background-color: #b9b9dd;
    color: black;
    width: fit-content;
    cursor: pointer;
}

/*=====================AUTRES SITES===============*/

.LiensAutresSites {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.LiensAutresSites:hover {
    border: 2px solid white;
    padding:5px;
    background-color: #b9b9dd;
    color: black;
    cursor: pointer;
}

    /*===================IMAGES =======================*/

.divLogicielMalveillant {
    display: inline-block;
}

.ImgLogicielMalveillant {
    margin:15px;
    border: 2px solid #141455;
    display: block;
}

@media (max-width: 480px) {
    .ImgLogicielMalveillant {
        width: 90%;
    }
}