/*===================================
  GENERAL
===================================*/

body { 
    font-family: 'Oswald', sans-serif; /* Police et style d'écriture */
    background-color: rgb(213, 220, 226); /* Couleur de fond de la page */
}

a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: black; /* Couleur des liens */
}

@media (max-width:480px) {

    a {
        text-decoration: none;
    }

    .Informations Grid .Information {
        text-decoration: none;
        color:black;
    }

    .Services .TitresServices {
        text-decoration: none;
        color:white;
    }

}

/*===================================
  HEADER
===================================*/

header { 
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Oswald', sans-serif;
    background-color: #141455;
    border: white 2px solid;
    border-radius: 10px;
    height: fit-content;
}

@media (max-width:480px) {
    header {
        width: 100%;
        max-width: 480px;
    }
}

header > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    header > div:first-child {
        padding: 8px 10px;
    }
}

@media (max-width: 480px) {
    header > div:first-child {
        padding: 5px;
    }
}

/*LOGO CAF*/

.Accueil1 {
    padding: 10px 0 10px 10px; 
    height: 60px;
    width: 60px;
}
@media (max-width:768px) {
    .Accueil1 {
        height: 50px;
        width: 50px;
        padding: 10px 5px;
    }
}

@media (max-width:480px) {
    .Accueil1 {
        height: 35px;
        width: 35px;
        padding: 5px;
    }
}

/*CAF.FR*/

.Accueil2 { 
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 32px;
    margin-left: 0; /* Collé au logo */
    padding-left: 8px; /* Juste un petit espace */
}
@media (max-width:768px) {
    .Accueil2 {
        font-size: 28px;
    }
}

@media (max-width:480px) {
    .Accueil2 {
        font-size: 24px;
    }
}

/*BOUTON MALVOYANT*/

.BoutonMalvoyant { 
    background-color: #141455;
    border: none;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
}

.BoutonMalvoyant:hover {
    border: 2px solid white;
}

@media (max-width:768px) {
    .BoutonMalvoyant {
        padding: 6px;
    }
}

@media (max-width:480px) {
    .BoutonMalvoyant {
        padding: 5px;
    }
}

/*IMAGE MALVOYANT*/

.ImgMalvoyant {
    height: 40px;
    width: 40px;
}

@media (max-width:768px) {
    .ImgMalvoyant {
        height: 35px;
        width: 35px;
    }
}

@media (max-width:480px) {
    .ImgMalvoyant {
        height: 30px;
        width: 30px;
    }
}

/*CAF.FR*/

.Accueil2 { 
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 32px;
    margin-left: 0; /* Collé au logo */
    padding-left: 8px; /* Juste un petit espace */
}
@media (max-width:768px) {
    .Accueil2 {
        font-size: 28px;
    }
}

@media (max-width:480px) {
    .Accueil2 {
        font-size: 24px;
    }
}

/*BOUTON MALVOYANT*/

.BoutonMalvoyant { 
    background-color: #141455;
    border: none;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
}

.BoutonMalvoyant:hover {
    border: 2px solid white;
}

@media (max-width:768px) {
    .BoutonMalvoyant {
        padding: 6px;
    }
}

@media (max-width:480px) {
    .BoutonMalvoyant {
        padding: 5px;
    }
}

/*IMAGE MALVOYANT*/

.ImgMalvoyant {
    height: 40px;
    width: 40px;
}

@media (max-width:768px) {
    .ImgMalvoyant {
        height: 35px;
        width: 35px;
    }
}

@media (max-width:480px) {
    .ImgMalvoyant {
        height: 30px;
        width: 30px;
    }
}

/*BOUTON CONNEXION*/

.BoutonConnexion { 
    background-color: #141455;
    border: none;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
}

.BoutonConnexion:hover {
    border:2px solid white; 
}

@media (max-width:768px) {
    .BoutonConnexion {
        padding: 6px;
    }
}

@media (max-width:480px) {
    .BoutonConnexion {
        padding: 5px;
    }
}

.ImgConnexion {
    height: 40px;
    width: 40px;
}

@media (max-width:768px) {
    .ImgConnexion {
        height: 35px;
        width: 35px;
    }
}

@media (max-width:480px) {
    .ImgConnexion {
        height: 30px;
        width: 30px;
    }
}

/*BOUTON RECHERCHE*/

.BoutonRecherche { 
    background-color: #141455;
    border: none;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
}

.BoutonRecherche:hover {
    border:2px solid white;
}

@media (max-width:768px) {
    .BoutonRecherche {
        padding: 6px;
    }
}

@media (max-width:480px) {
    .BoutonRecherche {
        padding: 5px;
    }
}

/*IMAGE RECHERCHE*/

.ImgRecherche {
    height: 40px;
    width: 40px;
}

@media (max-width:768px) {
    .ImgRecherche {
        height: 35px;
        width: 35px;
    }
}

@media (max-width:480px) {
    .ImgRecherche {
        height: 30px;
        width: 30px;
    }
}

/*===================================
  POP UP CONNEXION
===================================*/

/*POP UP CONNEXION*/

.PopUpConnexion {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: -90;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #141455;
}

@media (max-width:769px){
 .PopUpConnection {
        top: 0;
    }
}
@media (max-width:480px) {
    .PopUpConnexion {
        background:scroll ;
        top: -35;
        width: 330px;
        margin: 10px;
        justify-content: center;
    }
}
/*CONTENU POP UP*/

.ContenuPopUpConnexion {
    background-color:#e3e3f1;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    
}

@media (max-width:480px) {
    .ContenuPopUpConnexion {
        background-color:#e3e3f1;
        margin: 10% auto;
        padding: 20px;
        border: 2px solid black;
        border-radius: 10px;
        width: 95%;
        max-width: 330px;
        position: relative;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }
}

/*TITRE POP UP*/

.TitrePopUpConnexion {
    background-color: #141455;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
}

@media (max-width:480px) {
    .TitrePopUpConnexion {
        margin: 30px 5px 5px 5px;
        padding: 15px;
        font-size: 22px;
    }
}

/*ICONE FERMER POP UP*/

.FermerConnexion {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

@media (max-width:480px) {
    .FermerConnexion {
        position: absolute;
        right: 20px;
        top: 5px;
    }
}

.FermerConnexion:hover {
    color:#000;
}

/*POP UP TITRE CONNEXION ALLOCATAIRE + IDENTIFIANTS CAF*/

.FormulaireTitre2Connexion {
    color: #141455;
}

/*POP UP MOT CHAMPS REQUIS*/

.FormulaireAttentionConnexion {
    color: red;
}

/*POP UP FORMULAIRE CONNEXION*/

.FormulaireConnexion label {
    font-family: "Oswald";
    display: block;
    margin-top: 15px;
    font-size: 18px;
    color: #141455;
}

.FormulaireConnexion input {
    height: 30px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid #141455;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

.BoutonSCConnexion {
    margin-top: 25px;
    display: flex;
    margin-left: auto;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #e3e3f1;
    background-color: #141455;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Transition douce */
}

.BoutonSCConnexion:hover {
    background-color: #e3e3f1;
    border: 2px solid #141455;
    color: #141455;
    cursor: pointer;
}

/*POP UP CONNEXION BOUTON FRANCE CONNECT*/

.BoutonFCConnexion {
    display: flex;
    margin-left: auto;
    border:none;
    background-color: #e3e3f1;
    transition: background-color 0.3s ease; /* Transition douce */
}

.BoutonFCConnexion:hover {
    border: 2px solid #141455;
    border-radius: 10px;
    cursor: pointer;
}

/*===================================
  BODY - DESCRIPTION
===================================*/

/*DIV ACTUALITES NATIONALES*/

.divActualitesNationales {
    margin: 30px 180px 0 180px; /* Marge autour de la div */ /* Marge autour de la div */
    max-width: calc(100% - 40px); /* S'adapte à la largeur de l'écran */
    padding: 10px 20px 10px 20px; /* Espace interne */
    border: none; /* Pas de bordure */
    background-color: #e3e3f1; /* Couleur de fond */
    box-shadow: 10px 10px 20px grey; /* Ombre portée */
    border-radius: 15px; /* Bords arrondis */
    box-sizing: border-box; /* Inclut padding et border dans la width */
}

@media (max-width: 480px) {
    .divActualitesNationales {
        width:360px;
        max-width: 400px;
        margin: 10px 5px;
        padding: 10px 10px; /* Padding réduit */
    }
}

/*TITRE PAGE*/

.TitreActualitesNationales {
    display: block;
    text-align: center;
}

@media (max-width:768px) {
    .TitreActualitesNationales {
        font-size: 25px;
        display: block;
        width: 100%;
    }
}

@media (max-width:480px) {
    .TitreActualitesNationales {
        font-size: 23px;
    }
}

/*ACTUALITES NATIONALES*/

.divLigneActualites {
    display:flex;
    flex-direction: row;
}

@media (max-width:480px) {
    .divLigneActualites {
        display: block;
        width: 100%;
    }
}

.ActuCategorieDate {
    text-align: center;
    font-weight: 500;
}

.ImageActu {
    display: block;
    margin: 0 auto;
    width:300px;
    border-radius: 5px;
}

@media (max-width:480px) {
    .ImageActu {
        width:100%;
        margin-top: 15px;
    }
}

.divGauche1, .divDroite1, .divGauche2, .divDroite2, .divGauche3, .divDroite3, .divGauche4, .divDroite4,
.divGauche5, .divDroite5, .divGauche6, .divDroite6, .divGauche7, .divDroite7, .divGauche8, .divDroite8,
.divGauche9, .divDroite9, .divGauche10, .divDroite10 {

    width: 50%;
    background-color: #e3e3f1;
    border: 3px solid #141455;
    padding: 15px;
    margin: 10px;
}

@media (max-width:480px) {
    
    .divGauche1, .divDroite1, .divGauche2, .divDroite2, .divGauche3, .divDroite3, .divGauche4, .divDroite4,
    .divGauche5, .divDroite5, .divGauche6, .divDroite6, .divGauche7, .divDroite7, .divGauche8, .divDroite8,
    .divGauche9, .divDroite9, .divGauche10, .divDroite10 {

        width: fit-content;
        margin: 10px 0px;
        font-size: 18px;
    }

}

.LireLArticle1, .LireLArticle2, .LireLArticle3, .LireLArticle4, .LireLArticle5, .LireLArticle6,
.LireLArticle7, .LireLArticle8, .LireLArticle9, .LireLArticle10, .LireLArticle11, .LireLArticle12,
.LireLArticle13, .LireLArticle14, .LireLArticle15, .LireLArticle16, .LireLArticle17, .LireLArticle18,
.LireLArticle19, .LireLArticle20, .LireLArticle21, .LireLArticle22 {

    border: none;
    background-color: #141455;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease; /* Transition douce */
}

.LireLArticle1:hover, .LireLArticle2:hover, .LireLArticle3:hover, .LireLArticle4:hover, .LireLArticle5:hover,
.LireLArticle6:hover, .LireLArticle7:hover, .LireLArticle8:hover, .LireLArticle9:hover, .LireLArticle10:hover,
.LireLArticle11:hover, .LireLArticle12:hover, .LireLArticle13:hover, .LireLArticle14:hover, .LireLArticle15:hover,
.LireLArticle16:hover, .LireLArticle17:hover, .LireLArticle18:hover, .LireLArticle19:hover, .LireLArticle20:hover,
.LireLArticle21:hover, .LireLArticle22:hover  {

    background-color: #e3e3f1; /* Couleur de fond au survol */
    color: #141455; /* Couleur du texte au survol */
    border: 2px solid #141455;
    cursor: pointer;
}

/*POP UP ACTUALITES*/

.PopUpGauche1 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; /* Prend toute la hauteur */
    overflow-y: auto; /* Permet le scroll sur tout l'écran */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.ContenuPopUpGauche1 {
    background-color:#e3e3f1;
    margin: 30px auto;
    padding: 50px;
    border-radius: 10px;
    width: 90%;
    max-width: 1600px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border: 3px solid #141455;
    font-size: 18px;
}

/* TABLETTE */
@media (max-width: 768px) {
    .ContenuPopUpGauche1 {
        width: 95%;
        padding: 30px;
        margin: 20px auto;
        font-size: 18px;
    }
}

/*MOBILE*/
@media (max-width:480px) {
    .ContenuPopUpGauche1{
        background-color:#e3e3f1;
        margin: 10% auto;
        padding: 20px;
        border: 2px solid #141455;
        border-radius: 10px;
        width: 95%;
        max-width: 330px;
        position: relative;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
        font-size: 18px;
    }
}

.TitrePopUp {
    background-color: #141455;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
}

@media (max-width:480px) {
    .TitrePopUp {
        margin: 30px 5px 5px 5px;
        padding: 15px;
        font-size: 20px;
    }
}

.ReponseActualite {
    margin: 15px;
    padding: 15px;
    background-color: whitesmoke;
}

.FermerPopUpGauche1 {
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

@media (max-width:480px) {
    .FermerPopUpGauche1 {
        position: absolute;
        right: 15px;
        top: 5px;
    }
}

.FermerPopUpGauche1:hover {
    color:#000;
}

.divLiensActu {
    background-color: lightblue;
    padding: 15px;
    margin-top: 30px;
}

.LienActu {
    color: black;
    text-decoration: none;
}

.LienActu:hover {
    color: #141455;
    text-decoration: underline;
}

/*===================================
  FOOTER
===================================*/

/*DIV FOOTER*/

.divFooter {
    background-color: #141455;
    color: white;
    padding: 5px 15px 15px 15px;
    margin: 20px;
    justify-content: space-around;
    display: flex;
}

@media (max-width:768px) {
    .divFooter {
        display: inline-block;
        margin: 10px;
    }
}

@media (max-width:480px) {
    .divFooter {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
}

/*CONTACT - RESEAUX SOCIAUX*/

.ReseauxSociaux {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px;
}

.Facebook {
    background-color: white;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: background-color 0.3s ease; /* Transition douce */
}

.Facebook:hover {
    border: 3px solid black;
    background-color: #b9b9dd;
}

.X {
    background-color: white;
    padding: 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Transition douce */
}

.X:hover {
    border: 3px solid black;
    background-color: #b9b9dd;
}

.NousContacter {
    background-color: white;
    color: black;
    border: none;
    padding: 20px 8px; /* Réduit le padding */
    cursor: pointer;
    display: inline-flex; /* Important ! */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    transition: background-color 0.3s ease; /* Transition douce */
    margin-left: 5px;
}

.NousContacter:hover {
    border: 3px solid black;
    background-color: #b9b9dd;
    color: #141455;
}

/*INFORMATIONS GENERALES*/

.BoutonAccessibilite, 
.BoutonMentionsLegales, 
.BoutonDonneesPerso, 
.BoutonSecurite, 
.BoutonCSIRT, 
.BoutonFAQ {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    border: none;
    background-color: #141455;
    color: white;
}

.BoutonAccessibilite:hover, 
.BoutonMentionsLegales:hover, 
.BoutonDonneesPerso:hover, 
.BoutonSecurite:hover, 
.BoutonCSIRT:hover, 
.BoutonFAQ:hover {
    border: 2px solid white;
    padding:5px;
    background-color: #b9b9dd;
    color: black;
    width: fit-content;
    cursor: pointer;
}

/*AUTRES SITES*/

.LiensAutresSites {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.LiensAutresSites:hover {
    border: 2px solid white;
    padding:5px;
    background-color: #b9b9dd;
    color: black;
    cursor: pointer;
}

/*IMAGES*/

.divLogicielMalveillant {
    display: inline-block;
}

.ImgLogicielMalveillant {
    margin:15px;
    border: 2px solid #141455;
    display: block;
}

@media (max-width: 480px) {
    .ImgLogicielMalveillant {
        width: 90%;
    }
}